/*
 * File: lechiffre.keymap
 * Description: ZMK Keymap configuration for Le Chiffre (34 keys + 1 Rotary Encoder)
 * Compatible with Nick Coutsos Keymap Editor (https://nickcoutsos.github.io/keymap-editor/)
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#define BASE  0
#define NAV   1
#define SYM   2
#define MEDIA 3
/ {
    sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&encoder>;
        triggers-per-rotation = <20>;
    };
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            label = "BASE";
            bindings = <
                &kp Q      &kp W      &kp E      &kp R      &kp T         &kp Y      &kp U      &kp I      &kp O      &kp P
                &kp A      &kp S      &kp D      &kp F      &kp G         &kp H      &kp J      &kp K      &kp L      &kp SEMI
                &kp Z      &kp X      &kp C      &kp V      &kp B         &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH
                           &mo NAV    &kp SPACE  &kp C_MUTE &kp RET       &mo SYM
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        nav_layer {
            label = "NAV";
            bindings = <
                &kp N1     &kp N2     &kp N3     &kp N4     &kp N5        &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
                &kp TAB    &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT     &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp BSPC
                &kp LSHFT  &kp K_CUT  &kp K_COPY &kp K_PASTE &kp DEL      &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT   &kp BSLH
                           &trans     &trans     &kp HOME   &kp N0        &mo MEDIA
            >;
            sensor-bindings = <&inc_dec_kp PG_DN PG_UP>;
        };
        sym_layer {
            label = "SYM";
            bindings = <
                &kp EXCL   &kp AT     &kp HASH   &kp DLLR   &kp PRCNT     &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR   &kp RPAR
                &kp TILDE  &kp GRAVE  &kp LBRC   &kp RBRC   &kp PIPE      &kp MINUS  &kp EQUAL  &kp PLUS   &kp COLON  &kp DQUO
                &trans     &trans     &trans     &trans     &trans        &kp UNDER  &kp PLUS   &kp LT     &kp GT     &kp QMARK
                           &mo MEDIA  &trans     &mkp MCLK  &trans        &trans
            >;
            sensor-bindings = <&inc_dec_kp MOVE_DN MOVE_UP>;
        };
        media_layer {
            label = "MEDIA";
            bindings = <
                &kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6     &kp F7     &kp F8     &kp F9     &kp F10
                &kp C_MUTE    &kp C_VOL_DN  &kp C_VOL_UP  &kp C_PP      &kp C_NEXT    &kp F11    &kp F12    &trans     &trans     &kp PSCRN
                &bootloader   &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &trans        &trans     &trans     &trans     &trans     &trans
                              &trans        &trans        &kp C_PP      &trans        &trans
            >;
            sensor-bindings = <&inc_dec_kp C_NEXT C_PREV>;
        };
    };
};
