/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define NAV_L 1
#define OTHER_L 2
#define NUM_L 3
#define SYM_L 4

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Tabs {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
            layers = <0>;
            timeout-ms = <50>;
        };

        Caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <14 15>;
            layers = <0>;
            timeout-ms = <50>;
        };

        Esc {
            bindings = <&kp ESCAPE>;
            key-positions = <0 1 2>;
            layers = <0>;
            timeout-ms = <50>;
        };
    };

    macros {
        judul: judul {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp U &kp A &kp T &kp SPACE &kp A &kp L &kp T &kp E &kp R &kp N &kp A &kp T &kp I &kp F &kp SPACE &kp J &kp U &kp D &kp U &kp L &kp SPACE &kp U &kp N &kp T &kp U &kp K &kp SPACE &kp T &kp U &kp L &kp I &kp S &kp A &kp N &kp SPACE &kp D &kp I &kp SPACE &kp A &kp T &kp A &kp S>;
            label = "JUDUL";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        Salam: Salam {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(A) &kp S &kp S &kp A &kp L &kp A &kp M &kp U &kp A &kp L &kp A &kp I &kp K &kp U &kp M &kp SPACE &kp W &kp R &kp SPACE &kp W &kp B>;
            label = "SALAM";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        Walaikum: Wasalam {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(W) &kp A &kp SQT &kp A &kp L &kp A &kp I &kp K &kp U &kp M &kp S &kp S &kp A &kp L &kp A &kp A &kp M>;
            label = "WASALAM";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        Aamiin: Aamiin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(A) &kp A &kp M &kp I &kp I &kp N &kp SPACE &kp LS(Y) &kp A &kp SPACE &kp LS(R) &kp O &kp B &kp B &kp A &kp L &kp SPACE &kp LS(A) &kp L &kp A &kp M &kp I &kp I &kp N>;
            label = "AAMIIN";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        Alhamdulillah: Alhamdulillah {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp LS(A) &kp L &kp H &kp A &kp M &kp D &kp U &kp L &kp I &kp L &kp L &kp A &kp H &kp I &kp SPACE &kp R &kp A &kp B &kp B &kp I &kp L &kp SPACE &kp SQT &kp A &kp L &kp M &kp I &kp I &kp N>;
            label = "ALHAMDULILLAH";
            wait-ms = <0>;
            tap-ms = <0>;
        };

        Innalilahi: Innalilahi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(I) &kp N &kp N &kp A &kp L &kp I &kp L &kp L &kp A &kp H &kp I &kp SPACE &kp W &kp A &kp I &kp N &kp A &kp I &kp L &kp A &kp I &kp H &kp I &kp SPACE &kp R &kp O &kp J &kp I &kp U &kp N>;
            label = "INNALILAHI";
            wait-ms = <0>;
            tap-ms = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q       &kp W       &kp E        &kp R             &kp T          &kp Y        &kp U            &kp I        &kp O       &kp P
&hm LGUI A  &hm LALT S  &hm LCTRL D  &hm LSHFT F       &kp G          &kp H        &hm RSHFT J      &hm RCTRL K  &hm LALT L  &hm LGUI SEMICOLON
&kp Z       &kp X       &kp C        &kp V             &kp B          &kp N        &kp M            &kp COMMA    &kp DOT     &kp FSLH
                                     &mt LEFT_ALT DEL  &lt 2 ENTER    &lt 1 SPACE  &lt 3 BACKSPACE
            >;
        };

        lowe_layer {
            bindings = <
&Aamiin         &Walaikum    &trans  &trans  &judul    &trans  &trans    &kp UP_ARROW  &kp HOME   &kp PRINTSCREEN
&Salam          &trans       &trans  &trans  &trans    &trans  &kp LEFT  &kp DOWN      &kp RIGHT  &trans
&Alhamdulillah  &Innalilahi  &trans  &trans  &trans    &trans  &trans    &trans        &kp END    &kp DEL
                                     &trans  &trans    &none   &kp DEL
            >;
        };

        raise_layer {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5     &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5     &trans        &trans        &trans        &trans        &trans
&kp F6        &kp F7        &kp F8        &kp F9        &kp F10    &trans        &trans        &trans        &trans        &trans
                                          &trans        &trans     &lt 3 SPACE   &trans
            >;
        };

        symbol {
            bindings = <
&kp LS(N1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)    &kp RS(NUMBER_6)  &kp RS(NUMBER_7)  &kp RS(NUMBER_8)  &kp RS(NUMBER_9)  &kp RS(NUMBER_0)
&trans      &trans            &trans            &trans            &trans              &trans            &trans            &trans            &trans            &trans
&trans      &trans            &trans            &trans            &trans              &trans            &trans            &trans            &trans            &trans
                                                &trans            &trans              &trans            &trans
            >;
        };

        sym_layer {
            bindings = <
&kp LBRC   &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp RBRC        &trans  &trans  &trans  &trans  &trans
&kp COLON  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp PLUS        &trans  &trans  &trans  &trans  &trans
&kp TILDE  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(BSLH)    &trans  &trans  &trans  &trans  &trans
                                   &kp LS(N0)  &kp UNDER       &trans  &trans
            >;
        };
    };
};
